#navbar {
    position: fixed;
    top:0;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
    transition: 0.35s;
}

#navbar span:hover {
    color:#2C78FA;
    text-shadow: 0 0 5px #2C78FA;
    transform: scale(1.08);
}

.mysite_navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mysite_navbar-links_container {
    display: flex;
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 1.05vw;
    margin-top: 0.5rem;
}

.mysite_navbar-links_container span + span {
    margin-left: 5rem;
}

.mysite_navbar-socials {
    display: none;
}

.mysite_navbar-menu_container p {
    color: rgb(0, 0, 0);
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 1.05vw;
    text-transform: capitalize;
    margin: 0 2rem;
    cursor: pointer;
}

.mysite_navbar-menu {
    display: none;
}

.mysite_navbar-menu svg {
    cursor: pointer;
}

.mysite_navbar-menu_container {
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    height: fit-content;
    text-align: end;
    background: var(--color-footer);
    background-size:cover;
    padding: 1rem;
    position: relative;
    top: 40px;
    right: 0;
    margin-top: 0rem;
    min-width: 100px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgb(0, 0, 0.2); 
}

.mysite_navbar-menu_container p {
    margin: 0.5rem 0;
}

#navbar.sticky {
    background-color: rgb(29, 29, 29);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#navbar.sticky span {
    color:rgb(227, 227, 227)
}

#navbar.sticky span:hover {
    color:#2C78FA
}

#navbar.sticky .mysite_navbar-links_container {
    margin-top: 0;
}

#navbar.sticky .mysite_navbar-socials {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
}

#navbar.sticky .mysite_navbar-socials a:hover {
    color: #2C78FA;
    transform: scale(1.1);
}

#navbar.sticky .nav-linkedin,
.nav-twitter,
.nav-instagram,
.nav-strava {
    color: rgb(227, 227, 227);
}

#navbar.sticky .mysite_navbar-socials a + a {
    margin-left: 0.7rem;
}

@media screen and (max-width: 1050px) {
    .mysite_navbar-links_container {
        display: none;
    }

    .socials {
        display: none;
    }

    .mysite_name {
        position: relative;
        left: -23rem;
    }

    .mysite_navbar-menu_container {
        background-color:aliceblue ;
        position: relative;
        top: 0
    }
    .mysite_navbar-menu {
        display: flex;
        justify-content:right;
        position: relative;
        right: 3rem;
        top: -0.8rem;
    }

    #navbar.sticky{
        background-color: aliceblue;
        min-height: fit-content;
        padding-bottom: 0;
        padding-top: 0;
    }

    #navbar.sticky p {
        color: black;
    }

    .mysite_navbar-links {
        position: relative;
        top: 0.8rem;
    }

}

@media screen and (max-width:930px) {
    .mysite_name {
        position: relative;
        left: -15rem;
    }
}

@media screen and (max-width: 550px) {
    .mysite_name {
        position: relative;
        left: -6.5rem;
    }

    #navbar {
        padding-top: 1rem;
    }
}