.mysite_header {
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
}

.mysite_header-content {
    display: flex;
    align-items: center;
}

.mysite_header-intro {
    font-family: var(--font-1);
    color: white;
    margin-left: 5rem;
}

.mysite_header-name {
    display: flex;
}

.mysite_header-name h1 {
    font-size: 6.2vw;
    font-weight: 500;
}

.mysite_header-lastName {
    color: #2C78FA;
    margin-left: 1rem;
}

.mysite_header-bio {
    font-size: 1.6vw;
    font-weight: 200;
    background-color: #28282862;
    border-radius: 0.3rem;
    padding: 0.15rem 0.5rem 0.15rem 0.5rem;
    margin-top: 0.4rem;
}

.mysite_header-links {
    display: flex;
    align-items: center;
    margin-top: 1.4rem;
}

.mysite_header-social {
    display: flex;
    align-items: center;
}

a + a {
    margin-left: 1rem;
}

.mysite_header-social :hover {
    color: #2C78FA;
}
