.mysite_projects {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 4rem;
    align-content: center;
}

.projects {
    position: relative;
    font-size: 50px;
    font-family: var(--font-1);
    padding-bottom: 4rem;
}

.projects_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 40px 0 40px;
    justify-content: center;
}

.proj {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 360px;
    margin-bottom: 60px;
}

.proj_img{
    display: flex;
    max-width: min-content;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.imgtext {
    position: absolute;
    z-index: 50;
    width: 350px;
    font-family: var(--font-1);
    color: #c5d3e2;
    font-size: 40px;
    font-weight: 650;
    margin-left: 15px;
    line-height: 1.4;
}

.proj_button, .git_button {
    margin-bottom: 5px;
    padding: 12px 0 12px 10px;
    font-size: 16px;
    font-family: var(--font-1);
    font-weight: 400;
    align-content: center;
    cursor: pointer;
    flex-direction: row;
    text-align: center;
}

.git_button {
    background-color: black;
    color: white;
}

.proj_button {
    background-color: #04151F;
    color: white;
}

.proj_button:hover, .git_button:hover {
    transform: scale(1.05);
}

#eye, #git {
    margin-right: 10px;
    align-self: center;
    margin-left: 2px;
}

.git_link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

span + span {
    margin-left: 10px;
}

.popup {
    position: absolute;
    display: flex;
    cursor: pointer;
}



@media screen and (max-width: 1050px) {
    .projects_row1 {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .spotify_project {
        position: relative;
        left: 0;
        right: 0;
        margin: 0 0 0 0;
        padding-bottom: 0rem;
    }

    .website_project {
        position: relative;
        left: 0;
        padding-top: 4rem;
        margin: 0 0 0 0;
    }

    .projects_row2 {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .chatbot_project {
        position: relative;
        right: 0;
        padding-bottom: 0rem;
        margin: 0 0 0 0;
    }

    .webserver_project {
        position: relative;
        left: 0;
        padding-top: 4rem;
        margin: 0 0 0 0;
    }
}